mat-card{
  height:100%;
  width:100%;
}

.container{
  padding-inline: 0%;
  margin-top: 3%;
}

@media screen and (min-width: 1024px) { 
  .container {
    padding-inline: 10%;
  }
}

.profile-picture{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.click-region {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.edit-icon{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.click-region:hover .profile-picture {
  filter: brightness(0.7); /* Zatamnjujemo sliku prilikom hovera */
}

.click-region:hover .edit-icon {
  opacity: 1; /* Prikazujemo ikonu prilikom hovera */
}

h2{
  color: #FF5722;
}

.email-text{
  font-size: 16px;
  font-weight: 400;
  font-style: italic
}

span strong{
  font-size: 24px;
  font-weight: bold;
}