<mat-toolbar color="warn">
  <a routerLink="/">
    <img
      fxFlex.gt-xs="100px"
      fxFlex.lt-sm="100px"
      fxLayout
      src="../../../assets/hp_logo8.png"
    />
  </a>

  <ng-container *ngIf="user; else notLoggedIn">
    <div fxHide.xs fxFlex fxLayout fxLayoutAlign="flex-end">
      <ul fxLayout class="navigation-items">
        <li>
          <button mat-button routerLink="/posts/offers">
            <mat-icon>local_offer</mat-icon>
            Posts
          </button>
        </li>
        <li>
          <button mat-button routerLink="/user">
            <mat-icon>account_circle</mat-icon>
            User
          </button>
        </li>
        <li>
          <button mat-button (click)="logout()">
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </li>
      </ul>
    </div>
  </ng-container>
  <ng-template #notLoggedIn>
    <div fxHide.xs fxFlex fxLayout fxLayoutAlign="flex-end">
      <ul fxLayout class="navigation-items">
        <li>
          <button mat-button routerLink="/login">
            <mat-icon matPrefix>login</mat-icon>
            Login
          </button>
        </li>
        <li>
          <button mat-raised-button routerLink="/signup">
            <mat-icon matPrefix>how_to_reg</mat-icon>
            Sign Up
          </button>
        </li>
      </ul>
    </div>
  </ng-template>

  <div fxHide.gt-xs fxFlex fxLayoutAlign="flex-end">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container *ngIf="user"; else notLoggedIn>
        <button mat-menu-item routerLink="/posts">
          <mat-icon>local_offer</mat-icon>
          <span>Posts</span>
        </button>
        <button mat-menu-item routerLink="/user">
          <mat-icon>account_circle</mat-icon>
          <span>User</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </ng-container>
      <ng-template #notLoggedIn>
      <button mat-menu-item routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item routerLink="/signup">
        <mat-icon>how_to_reg</mat-icon>
        <span>Sign Up</span>
      </button>
    </ng-template>
    </mat-menu>
  </div>
</mat-toolbar>
