<div fxLayout="column" fxLayoutAlign="space-between">
  <!-- Can you make for me paginator and mat-list but that works with offer$ observable? -->
  <mat-list fxLayout="column" fxLayoutGap="2%">
    <mat-list-item *ngFor="let offer of offer$ | async">
      <app-offer-item [offer]="offer"></app-offer-item>
    </mat-list-item>
  </mat-list>

  <mat-paginator [length]="(offer$ | async)?.length"
                [pageSize]="size"
                [pageIndex]="page"
                (page)="getData($event)">
  </mat-paginator>
  
  
    <!-- <mat-list fxLayout="column" fxLayoutGap="2%">
      <mat-list-item *ngFor="let offer of onePageOffers">
        <app-offer-item [offer]="offer"></app-offer-item>
      </mat-list-item>
    </mat-list>

  <mat-paginator [length]="offers.length"
                [pageSize]="size"
                [pageIndex]="page"
                (page)="getData($event)">
  </mat-paginator> -->
</div>
