mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 200px;
}

mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the header is above other elements */
}

@media screen and (min-width: 1024px) {
  .mat-toolbar {
    padding-inline: 10%;
  }
}

.navigation-items{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

/* .banner {
  height: 250px;
  padding-top: 50px;
  background-color: var(--warn-color);
  background-image: url('../../../../assets/banner3.png');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 2em;
}

.banner-text {
  text-align: center;
  color: #f44336;
  font-size: 2em;
} */

.header-padding {
  padding-top: 64px;
}
