:host{
  padding-block: 16px;
}

.price{
  color: #FF5722;
  font-size: 1.2rem;
}

.old-price {
  text-decoration: line-through;
  font-size: 1rem;
  color: #999;
}

.discount {
  font-size: 1.5rem;
  color: red;
  font-weight: bold;
}