mat-card{
  margin-top: 2%;
  width: 80vw;
  white-space: normal;
  border: 1px solid #ccc;
}

@media screen and (max-width: 1024px) {
  mat-card{
    width: 100vw;
  }
}

mat-card-title{
  font-size: 1.5rem;
  font-weight: bold;
}

mat-toolbar{
  margin-bottom: 16px;
}