<mat-card fxLayoutAlign="center center">
  <mat-card-content fxLayout="column">
    <mat-card-title>Comments</mat-card-title>
    <mat-divider></mat-divider>
    <div>
      <app-comment-list></app-comment-list>
    </div>
    <mat-card-content
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlex="100%"
    >
      <div
        fxLayout.gt-xs="row"
        fxLayout.lt-sm="column"
        fxLayoutAlign="center center"
      >
        <app-editor [maxLength]="300" [width]="'60vw'" (onContentChange)="newContent = $event">
        </app-editor>
        <button
          class="send-button"
          mat-raised-button
          type="submit"
          color="primary"
          (click)="addNewComment()"
        >
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card-content>
</mat-card>
