
<div
  class="gray-bg"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxFlex="100%"
>
  <div class="top-margin" fxLayout="column" fxFlex="100%">
    <mat-card fxLayout="column" fxFlex="100%">
      <mat-toolbar color="warn" class="row-1 border-shadow">
        <app-user-avatar
          [name]="post?.owner?.username!"
          [imgSrc]="post?.owner?.profilePicture"
          [id]="post?.owner?.id!"
          [size]="'large'"
          [nameFirst]="false"
        ></app-user-avatar>
        <div fxLayoutAlign="end start" fxFlex>
          <mat-icon *ngIf="isOwner" class="clickable" (click)="onEditPost()">edit</mat-icon>
          <mat-icon *ngIf="isOwner" class="clickable" (click)="onDeletePost()">delete</mat-icon>
          <mat-icon *ngIf="isAdmin" class="clickable" (click)="onRestrictPost()">report</mat-icon>
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-card>
  </div>
  <app-comment-section
    class="border-rounded border-shadow top-margin"
  ></app-comment-section>
</div>
