<p-toast></p-toast>

<form
  fxLayout="column"
  fxLayoutGap="40px"
  [formGroup]="offerForm"
  (ngSubmit)="onSubmit()"
>
  <section fxLayout="column">
    <mat-card-title>Basic Informations</mat-card-title>
    <mat-divider></mat-divider>
    <div
      class="margin"
      fxLayout.gt-xs="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="center center"
    >
      <mat-card-subtitle fxFlex="15%"
        >*Title <i>(required)</i>:
      </mat-card-subtitle>
      <span fxFlex>
        <mat-form-field fxFlex class="centered-field">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" />
          <mat-error
            *ngIf="
              offerForm.get('title')?.hasError('required') &&
              offerForm.get('title')?.touched
            "
            >Field must not be empty</mat-error
          >
        </mat-form-field>
      </span>
    </div>

    <div
      class="margin"
      fxLayout.gt-xs="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="start center"
    >
      <mat-card-subtitle fxFlex="15%"
        >*Category: <i>(required)</i></mat-card-subtitle
      >
      <p-treeSelect
        [options]="categoryOptions"
        class="centered-field"
        containerStyleClass="w-full"
        formControlName="selectedCategory"
        placeholder="Select Category"
      ></p-treeSelect>
    </div>

    <div
      class="margin"
      fxLayout.gt-xs="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="center center"
    >
      <mat-card-subtitle>Description: </mat-card-subtitle>
      <app-editor
        fxFlex="100%"
        [height]="'150px'"
        (onContentChange)="offerForm.get('description')?.setValue($event)"
        [content]="offerForm.get('description')?.value"
      >
      </app-editor>
    </div>

    <div
      class="margin"
      fxLayout.gt-xs="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="center center"
    >
      <mat-card-subtitle fxFlex="15%">Specifications:</mat-card-subtitle>
      <div
        class="margin"
        fxFlex="90%"
        class="centered-field"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <div
          class="margin"
          formArrayName="specificationsFormArray"
          *ngFor="let spec of specificationsFormArray.controls; index as i"
        >
          <span
            fxLayout.gt-xs="row"
            fxLayout.lt-sm="column"
            fxLayoutGap="2%"
            [formGroupName]="i"
          >
            <mat-form-field>
              <mat-label>Key</mat-label>
              <input
                (change)="onLastSpecificationChanged()"
                matInput
                formControlName="key"
              />
              <mat-error *ngIf="checkIsSpecificationsEmpty()"
                >Field must not be empty</mat-error
              >
            </mat-form-field>
            <mat-form-field>
              <mat-label>Value</mat-label>
              <input
                (change)="onLastSpecificationChanged()"
                matInput
                formControlName="value"
              />
              <mat-error *ngIf="checkIsSpecificationsEmpty()"
                >Field must not be empty</mat-error
              >
            </mat-form-field>
            <button
              mat-raised-button
              [disabled]="i === specificationsFormArray.controls.length - 1"
              color="warn"
              (click)="onDeleteSpecification(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </div>
        <mat-error *ngIf="checkSpecificationsLimit()">
          You have reached the limit of specifications
        </mat-error>
        <button
          mat-raised-button
          type="button"
          color="warn"
          (click)="onAddSpecification()"
          [disabled]="
            checkSpecificationsLimit() || checkIsSpecificationsEmpty()
          "
        >
          Add Specification
        </button>
      </div>
    </div>

    <div
      class="margin"
      fxLayout.gt-xs="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="center center"
    >
      <mat-card-subtitle fxFlex="15%">Upload Images: </mat-card-subtitle>
      <p-fileUpload
        name="images[]"
        [url]="fileService.UPLOAD_IMAGES_URL"
        #fileUpload
        (onUpload)="onUploadImages($event)"
        (onSelect)="onSelectImages($event, fileUpload)"
        [multiple]="true"
        accept="image/*"
        [maxFileSize]="1000000"
        fxFlex="90%"
        fxLayoutAlign="center center"
      >
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedImagesControl?.value.length">
            <li *ngFor="let image of uploadedImagesControl?.value">
              <div class="p-fileupload-row ng-star-inserted">
                <div>
                  <img
                    [src]="getImagePath(image.serverFilename)"
                    width="50"
                    class="ng-star-inserted"
                  />
                </div>
                <div class="p-fileupload-filename">{{ image.name }}</div>
                <div>{{ image.size }} - bytes</div>
                <div>
                  <button
                    type="button"
                    (click)="onDeleteImage(image)"
                    class="p-element p-button-icon-only p-button p-component"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </div>
  </section>

  <section>
    <mat-card-title>Location Information</mat-card-title>
    <mat-divider></mat-divider>

    <div
      class="margin"
      fxLayout.gt-xs="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="start center"
    >
      <mat-card-subtitle fxFlex="15%"> Type of Sale: </mat-card-subtitle>
      <p-selectButton
        class="centered-field"
        [options]="saleTypeOptions"
        formControlName="saleType"
        (onChange)="onSaleTypeOptionChange($event.value)"
      ></p-selectButton>
    </div>

    <div
      class="margin"
      fxLayout.gt-xs="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="start center"
    >
      <mat-card-subtitle fxFlex="15%"> Link: </mat-card-subtitle>
      <mat-form-field class="centered-field" fxFlex>
        <mat-label>Link</mat-label>
        <input type="url" matInput formControlName="link" />
      </mat-form-field>
    </div>

    <div
      class="margin"
      fxLayout.gt-xs="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="start center"
    >
      <mat-card-subtitle fxFlex="15%">Store: </mat-card-subtitle>
      <mat-form-field class="centered-field" fxFlex>
        <mat-label>Store</mat-label>
        <input matInput formControlName="store" />
      </mat-form-field>
    </div>

    <div
      class="margin"
      fxLayout.gt-xs="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="start center"
    >
      <mat-card-subtitle fxFlex="15%"> Location: </mat-card-subtitle>
      <mat-form-field class="centered-field" fxFlex>
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" />
      </mat-form-field>
    </div>
  </section>

  <section>
    <mat-card-title>Price Information</mat-card-title>
    <mat-divider></mat-divider>

    <div
      class="margin"
      fxLayout.gt-xs="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="start center"
    >
      <mat-card-subtitle fxFlex="15%">Price: </mat-card-subtitle>
      <mat-form-field fxFlex class="centered-field">
        <mat-label>Amount</mat-label>
        <input
          matInput
          type="number"
          placeholder="0"
          formControlName="price"
          (change)="onPriceChange($event)"
        />
        <span matTextPrefix>$&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
    </div>

    <div
      class="margin"
      fxLayout.gt-xs="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="start center"
    >
      <mat-card-subtitle fxFlex="15%"> Discount Exists: </mat-card-subtitle>
      <p-selectButton
        class="centered-field"
        [options]="discountOptions"
        formControlName="discountOptionSelected"
        optionLabel="label"
        optionValue="value"
        (onChange)="onDiscountOptionChange($event.value)"
      ></p-selectButton>
    </div>

    <div
      class="margin"
      fxLayout.gt-xs="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="start center"
    >
      <mat-card-subtitle fxFlex="15%"> Discount Info: </mat-card-subtitle>
      <span
        fxFlex
        fxLayout.gt-xs="row"
        fxLayout.lt-sm="column"
        fxLayoutGap="2%"
        class="centered-field"
      >
        <mat-form-field fxFlex>
          <mat-label>Old Price</mat-label>
          <input
            matInput
            type="number"
            placeholder="0"
            formControlName="oldPrice"
            (change)="onOldPriceChange($event)"
          />
          <span matTextPrefix>$&nbsp;</span>
          <span matTextSuffix>.00</span>
        </mat-form-field>
        <mat-form-field fxFlex class="two-centered-fields">
          <mat-label>Discount</mat-label>
          <input
            matInput
            type="number"
            placeholder="0"
            formControlName="discount"
            (change)="onDiscountChange($event)"
          />
          <span matTextSuffix>%</span>
        </mat-form-field>
      </span>
    </div>
  </section>

  <section>
    <mat-card-title>Expiry Information</mat-card-title>
    <mat-divider></mat-divider>

    <div
      class="margin"
      fxLayout.gt-xs="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="start center"
    >
      <mat-card-subtitle fxFlex="15%"> Expiry Date Exists: </mat-card-subtitle>
      <p-selectButton
        class="centered-field"
        [options]="expiryDateOptions"
        formControlName="expiryDateOptionSelected"
        optionLabel="label"
        optionValue="value"
        (onChange)="onExpiryDateOptionChange($event.value)"
      ></p-selectButton>
    </div>

    <div
      class="margin"
      fxLayout.gt-xs="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign="start center"
    >
      <mat-card-subtitle fxFlex="15%"> Expiry Date: </mat-card-subtitle>
      <p-calendar
        class="centered-field"
        formControlName="expiryDate"
        [minDate]="minExpiryDate"
        [readonlyInput]="true"
        (onInput)="onExpiryDateChange($event)"
      ></p-calendar>
    </div>
  </section>

  <div fxFlex fxLayoutAlign="center center">
    <button
      mat-fab
      extended
      type="submit"
      class="submit-button"
      color="warn"
      [disabled]="!offerForm.valid"
      fxFlex.lt-sm="100%"
    >
      {{ (editMode ? "SAVE " : "SUBMIT ") + "OFFER" }}
    </button>
  </div>
</form>
