section{
  padding:3%;
  margin:2%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

i{
  font-size: 1rem;
}

.margin{
  margin-block: 40px;
}

mat-card-title{
  font-size: 1.6rem;
  font-weight: bold;
  color: #FF5722;
}

mat-card-subtitle{
  font-size: 1.2rem;
  font-weight: 550;
  margin-right: 20px;
}

.centered-field {
  padding-inline: 10%;
}

.submit-button{
  width: 30%;
  height: 5rem;
  font-size: 1.1rem;
}
