/* You can add global styles to this file, and also import other style files */
/* @import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css"; */
@import "primeicons/primeicons.css";


html,
body {
  height: 100%;
}

body {
  margin: 0px;
  font-family: Roboto, sans-serif;
}

.clickable{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.clickable:hover {
  color: #FF5722;
}

@media screen and (min-width: 1024px) {
  .inline-padding {
    padding-inline: 10%;
  }
  .inline-margin {
    margin-inline: 10%
  }
}

.top-margin {
  margin-top: 2%;
}

.border-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.border-rounded{
  border-radius: 10px;
  
}

.white-bg{
  background-color: #fff;
}

.gray-bg{
  background-color: #e9eaed;
}
/* #e9eaed */
.scaling-up{
  transition: transform .2s;
}

.scaling-up:hover {
  transform: scale(1.02);
}


