<mat-card-content *ngIf="coupon" fxLayout="column" fxLayoutGap="12px">
  <div fxLayoutAlign="end end">
    <app-date-display
      [date]="coupon.postedDate"
      [isPostedDate]="true"
    ></app-date-display>
  </div>

  <div class="row-2">
    <mat-card-title class="post-title">
      {{ coupon.title }}
    </mat-card-title>
  </div>

  <div class="row-image" fxLayoutAlign="center">
    <p-galleria
      [value]="images"
      [showIndicators]="true"
      [showThumbnails]="false"
      fxFlex="50%"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="item.itemImageSrc" fxFlex="100%" class="image" />
      </ng-template>
    </p-galleria>
  </div>

  <div
    *ngIf="!isExpired()"
    class="row-4"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
  >
    <div
      *ngIf="coupon.saleType === SaleType.Online"
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <a [href]="coupon.link" target="_blank">
        <button mat-fab extended class="get-offer-button" color="warn">
          <mat-icon>add_shopping_cart</mat-icon>
          Get Offer
        </button>
      </a>
      <app-date-display
        *ngIf="coupon.expiryDate"
        [date]="coupon.expiryDate"
        [isExpiringDate]="true"
      ></app-date-display>
    </div>
    <!-- <app-price
      [discount]="coupon.discount!"
      [multipleDiscounts]="coupon.discounts ? true : false"
    ></app-price> -->
    <div fxFlex fxLayoutAlign="center center">
      <div class="temperature-button" fxLayoutAlign="space-between center">
        <mat-icon class="fire-icon">whatshot</mat-icon>
        <span class="hot-number">{{ coupon.numOfHotReactions }}</span>
        <span class="temperature-number"
          >{{ coupon.numOfHotReactions - coupon.numOfColdReactions }}°</span
        >
        <span class="cold-number">{{ coupon.numOfColdReactions }}</span>
        <mat-icon class="snowflake-icon">ac_unit</mat-icon>
      </div>
    </div>
  </div>

  <div
    *ngIf="isExpired()"
    class="row-4"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
    class="discount"
  >
    EXPIRED
  </div>

  <mat-divider></mat-divider>

  <div class="row-5" fxLayout="column">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Description </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          class="ql-editor"
          [innerHTML]="coupon.description | noSanitize"
        ></div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion *ngIf="coupon.store">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Store </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ coupon.store }}</p>
        <p *ngIf="coupon.location">
          <mat-icon>location_on</mat-icon>
          {{ coupon.location }}
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-card-content>
