<mat-card-content *ngIf="coupon" fxLayout="column" fxLayoutGap="12px">
  <div fxFlex fxLayout="row">
    <p-breadcrumb
      fxFlex="80%"
      fxFlexAlign="start start"
      [model]="categoryMenuItems"
      [home]="homeMenuItem"
      [style]="{ border: 'none', width: '50%' }"
    ></p-breadcrumb>
    <div 
      fxFlex="20%" 
      fxFlexAlign="center end">
      <app-date-display
        [date]="formatDate(coupon.postedDate)"
        [isPostedDate]="true"
      ></app-date-display>
    </div>
  </div>

  <div class="row-2">
    <mat-card-title class="post-title">
      {{ coupon.title }}
    </mat-card-title>
  </div>

  <div class="row-image" fxLayoutAlign="center">
    <p-galleria
      [value]="galleryImages"
      [showIndicators]="true"
      [showThumbnails]="false"
      fxFlex="50%"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="item.itemImageSrc" fxFlex="100%" class="image" />
      </ng-template>
    </p-galleria>
  </div>

  <div
    class="row-4"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
  >
    <app-price
      [discount]="coupon.maxDiscount!"
      [multipleDiscounts]="coupon.discounts ? true : false"
    ></app-price>
    <div
      *ngIf="isOnline()"
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <a [href]="coupon.link" target="_blank">
        <button mat-fab extended class="get-coupon-button" color="warn">
          <mat-icon>add_shopping_cart</mat-icon>
          Get Coupon
        </button>
      </a>
    </div>
    <app-date-display
      *ngIf="coupon.expiryDate"
      [date]="formatDate(coupon.expiryDate)"
      [isExpiringDate]="true"
    ></app-date-display>
    <div fxFlex fxLayoutAlign="center center">
      <app-reaction></app-reaction>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row-5" fxLayout="column">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Description </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          class="ql-editor"
          [innerHTML]="coupon.description | noSanitize"
        ></div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion *ngIf="!isDiscountsEmpty(coupon.discounts)">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Discounts </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="discountsDataSource">
          <ng-container matColumnDef="discountName">
            <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.key }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="discountValue">
            <mat-header-cell *matHeaderCellDef> Discount </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.value }}%
            </mat-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="['discountName', 'discountValue']"
          ></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: ['discountName', 'discountValue']"
          ></mat-row>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion *ngIf="coupon.store">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Store </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ coupon.store }}</p>
        <p *ngIf="coupon.location">
          <mat-icon>location_on</mat-icon>
          {{ coupon.location }}
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-card-content>
