<mat-card fxFlex fxLayout="column" fxLayoutAlign="start start">
  <mat-toolbar class="row-1">
    <app-user-avatar
      [name]="comment.owner.username"
      [imgSrc]="comment.owner.profilePicture"
      [nameFirst]="false"
    ></app-user-avatar>
    <div fxLayoutAlign="end start" fxFlex>
      <mat-icon (click)="onDeleteComment()" class="clickable">delete</mat-icon>
    </div>
  </mat-toolbar>
  <mat-card-content fxLayout="column">
    <div class="ql-editor" [innerHTML]="comment.content | noSanitize"></div>
    <div fxFlex fxLayoutAlign="end end">
      <app-date-display
        [date]="formatDate(comment.postedDate)"
        [isPostedDate]="true"
      ></app-date-display>
    </div>
  </mat-card-content>
</mat-card>
