<section class="container">
  <mat-card>
    <mat-card-content
      fxLayout.gt-xs="row"
      fxLayout.lt-sm="column"
      fxLayoutAlign.gt-xs="center start"
      fxLayoutAlign.lt-sm="center center"
      fxFlex="100%"
      fxLayoutGap="5%"
    >
      <div
        fxFlex.gt-sm="10%"
        fxFlex.lt-sm="40%"
        fxLayout
        fxLayoutAlign="center center"
        class="navigation"
      >
        <mat-nav-list
          fxLayout.gt-xs="column"
          fxLayout.lt-sm="row"
          fxLayoutAlign="center center"
        >
          <a
            mat-list-item
            [routerLink]="['users']"
            routerLinkActive
            #rla1="routerLinkActive"
            [activated]="rla1.isActive"
          >
            <mat-icon matPrefix>account_circle</mat-icon>
            Users
          </a>
          <a
            mat-list-item
            [routerLink]="['reports']"
            routerLinkActive
            #rla2="routerLinkActive"
            [activated]="rla2.isActive"
          >
            <mat-icon matPrefix>report</mat-icon>
            Reports
          </a>
        </mat-nav-list>
      </div>
      <div fxFlex="100%" fxLayout="column">
        <router-outlet></router-outlet>
      </div>
    </mat-card-content>
  </mat-card>
</section>
