@media screen and (min-width: 1024px) {
  .page {
    padding-inline: 10%;
  }
}

mat-toolbar{
  height:100px;
}


mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  height: 100%;
  width: 200px;
}

.add-new-button{
  align-self: center;
  /* margin-block: 10px; */
  height: 100px;
  width: 100px;
}

.add-new-icon{
  height: 40px;
  width: 40px; 
  font-size: 40px;
}

.filter-button{
  align-self: flex-start;
  height: 50px;
}

/* .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
} */