@media screen and (min-width: 1024px) {
  .inline-padding {
    padding-inline: 10%;
  }
}

.container{
  height:100%;
  background-color: #e9eaed;
}

nav{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* background-color: #fff; */
}

@media screen and (max-width: 320px) {
  .toolbar {
    height: 300px;
  }
}

.toolbar{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #f44336;
  padding-inline: 5%;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

mat-toolbar{
  /* padding-inline: 5%; */
  height: 100px;
}

mat-sidenav-content{
  height: 100vw;
}

mat-sidenav-container, mat-sidenav {
  height: 100%;
}

mat-sidenav-container{
  color: #e9eaed;
}

mat-sidenav {
  height: 100%;
  width: 300px;
}

.add-new-button{
  justify-content: center;
  align-items: center;
  height: 56px;
  border-radius: 10px;
  color: #fff;
}

.add-new-text{
  white-space: wrap;
}

.add-new-icon{
  height: 40px;
  width: 40px; 
  font-size: 30px;
}

.filter-button{
  height: 56px;
  width: 300px;
}

.search-bar-button{
  align-self: flex-start;
  height: 56px;
}

/* .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
} */