/* form{
  padding-top: 40px;
} */

h1{
  margin-bottom: 5%;
  color: #FF5722;
  font-weight: bold;
}

section{
  margin: 5%;
}

mat-card-subtitle{
  padding-inline: 5%;
  margin-top: 3%;
}

mat-card-title{
  font-weight: bold;
  color: #FF5722;
  padding: 5%;
}

mat-card-content{
  padding: 5%;
}

.signup-button{
  margin-bottom: 5%;
  height: 100%;
}

.text-container{
  max-width: 100px;
  word-wrap: break-word;
}

/* mat-card{
  max-width: 400px;
} */