<div fxLayout="column">
  <div fxFlex fxLayoutAlign="end end" fxLayoutGap="5px" class="clickable">
    <span> Ban </span>
    <mat-icon>group_remove</mat-icon>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <img
      mat-card-image
      class="profile-picture"
      [src]="
        user
          ? user.imgPath
          : 'https://www.shutterstock.com/image-vector/default-avatar-profile-icon-social-600nw-1677509740.jpg'
      "
    />
    <div
      class="generals"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <div class="username" mat-typography mat-display-2>
        {{ user?.username }}
      </div>
      <div class="email">{{ user?.email }}</div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="stats">
      <div class="stat-padding">Number of:</div>

      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
        <span class="stat-label" mat-typography mat-body-2>Posts</span>
        <span class="stat-number" mat-typography mat-display-1> 5 </span>
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
        <div
          class="hot"
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="5px"
        >
          <mat-icon>whatshot</mat-icon>
          <span
            fxLayoutAlign="center center"
            class="stat-label"
            mat-typography
            mat-body-2
          >
            Hot Reactions</span
          >
          <span class="stat-number" mat-typography mat-display-1> 19 </span>
        </div>
        <div
          class="cold"
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="5px"
        >
          <mat-icon>ac_unit</mat-icon>
          <span
            fxLayoutAlign="center center"
            class="stat-label"
            mat-typography
            mat-body-2
          >
            Cold Reactions</span
          >
          <span class="stat-number" mat-typography mat-display-1> 5 </span>
        </div>
      </div>
    </div>
  </div>
</div>
