.profile-picture{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.generals{
  color: #FF5722;
  padding-top: 10px;
  padding-bottom: 30px;
}

.username {
  font-weight: bold;
  font-size: 2rem;
}

.email {
  font-weight: lighter;
  font-size: 1.5rem;
}

.stats {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.54);
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px;
}

.hot{
  color: RGB(255,0,0,0.7);
}

.cold{
  color: RGB(0,0,255,0.7);
}

.stat-padding {
  margin-bottom: 15%;
}

.stat-label {
  font-size: 1.2rem;
}

.stat-number {
  font-weight: bold;
}