mat-card{
  margin-top: 2%;
  width: 80vw;
  white-space: normal;
  border: 1px solid #ccc;
}

@media screen and (max-width: 1024px) {
  mat-card{
    width: 100vw;
  }
}

mat-card-content{
  padding-inline: 6px;
}

mat-icon{
  cursor: pointer;
}

app-user-avatar{
  margin-top: 12px;
  margin-left: 12px;
}

.image {
  width: 500px;
  height: 500px;
  padding-top: 30px;
  padding-bottom: 30px;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .image{
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
}

.get-offer-button{
  height: 55px;
  width: 160px;
}

.date{
  font-size: 0.8rem;
  font-style: italic;
}

.text-padding{
  padding-inline: 5%;
}

.avatar-image {
  background-size: cover;
}

.clickable{
  cursor: pointer;
}

.clickable:hover {
  color: #FF5722;
}

.post-title{
  padding-inline: 5%;
  font-size: 2rem;
  font-weight: bold;
}