<mat-card-content *ngIf="offer" fxLayout="column" fxLayoutGap="12px">
  <div fxLayoutAlign="end end">
    <app-date-display
      [date]="formatDate(offer.postedDate)"
      [isPostedDate]="true"
    ></app-date-display>
  </div>

  <div class="row-2">
    <mat-card-title class="post-title">
      {{ offer.title }}
    </mat-card-title>
  </div>

  <div class="row-image" fxLayoutAlign="center">
    <p-galleria
      [value]="galleryImages"
      [showIndicators]="true"
      [showThumbnails]="false"
      fxFlex="50%"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="item.itemImageSrc" fxFlex="100%" class="image" />
      </ng-template>
    </p-galleria>
  </div>

  <div
    class="row-4"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
  >
    <div
      *ngIf="isOnline()"
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <a [href]="offer.link" target="_blank">
        <button mat-fab extended class="get-offer-button" color="warn">
          <mat-icon>add_shopping_cart</mat-icon>
          Get Offer
        </button>
      </a>
    </div>
    <app-date-display
      *ngIf="offer.expiryDate"
      [date]="formatDate(offer.expiryDate)"
      [isExpiringDate]="true"
    ></app-date-display>
    <app-price
      [price]="offer.price"
      [oldPrice]="offer.oldPrice"
      [discount]="offer.discount"
    ></app-price>
    <div fxFlex fxLayoutAlign="center center">
      <app-reaction
        [numOfHotReactions]="offer.numOfHotReactions"
        [numOfColdReactions]="offer.numOfColdReactions"
        [numOfDegrees]="offer.numOfDegrees"
      ></app-reaction>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row-5" fxLayout="column">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Description </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          class="ql-editor"
          [innerHTML]="offer.description | noSanitize"
        ></div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion *ngIf="!isSpecificationsEmpty(offer.specifications)">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Specifications </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="specsDataSource">
          <ng-container matColumnDef="specName">
            <mat-header-cell *matHeaderCellDef>
              Specification Name
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.key }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="specValue">
            <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.value }}
            </mat-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="['specName', 'specValue']"
          ></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: ['specName', 'specValue']"
          ></mat-row>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion *ngIf="offer.store">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Store </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ offer.store }}</p>
        <p *ngIf="offer.location">
          <mat-icon>location_on</mat-icon>
          {{ offer.location }}
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-card-content>
